main {
    padding: 40px;
    background: #f5f6fa;
    display: grid;
    margin: 0 auto;
    max-width: 800px;
}
h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
   color: #2c3e50;
}
hr{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
form {
    max-width: 700px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}
form label {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    display: block;
}
form input,
form select,
form textarea {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
    background-color: white;
}

form textarea{
    height: 40px;
}

form button {
    background: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    width: 200px;
    float: right;
}

form button:hover {
    background: #357ABD;
}
.back  {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    font-size: 15px;
    text-decoration: none;
    margin-right: 5px;
}

.back :hover {
    color: #000;
    
}