
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 265px;
    background: #1a2633;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h1 {
    font-size: 22px;
    margin-bottom: 40px;
    color: #ecf0f1;
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #085baf;
}

.sidebar a.logout {
    margin-top: auto;
    background: #e74c3c;
}

.sidebar a.logout:hover {
    background: #c0392b;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #fff;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header input{
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}
header h2 {
    font-size: 18px;
    color: #2c3e50;
}
.sidebar h1 i {
    margin-right: 10px;
     color: #ecf0f1;
     font-size: 28px;
}
