
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: #2c3e50;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h1 {
    font-size: 22px;
    margin-bottom: 40px;
    color: #ecf0f1;
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 10px;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #34495e;
}

.sidebar a.logout {
    margin-top: auto;
    background: #e74c3c;
}

.sidebar a.logout:hover {
    background: #c0392b;
}


/* .main-content {
    flex: 1;
    padding: 40px;
}

.main-content h2 {
    margin-bottom: 20px;
    color: #2c3e50;
} */