section{
    margin-top: 20px;
    padding: 20px;
}
.welcome{
    display: flex;
    justify-content: space-between;
}
.welcome h3{
    color:#2c3e50;
    font-size: 20px;
    font-weight: bold;
}
.welcome h4{
    padding: 8px 16px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
}
.payrun{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.processpayrun h3{
    color:#2c3e50;
    font-size: 18px;
    font-weight: bold;
}
.payrundetails{
    margin-top: 20px;
    display: grid;
    gap:20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.payrundetails .netpay{
    display: flex;
    gap: 50px;
}
hr{
    border-right: 1px solid #ddd;
}
.netpay div{
    display: grid;
    gap:10px;
}
.netpay div h4{
   color: rgb(145 140 140);
    font-size: 15px;
 
    font-weight: 600;
}
.netpay div p{
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
}
.netpay div a{
    padding: 8px 16px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    text-decoration: none; 
}
.pay p{
    color: gray;
    font-size: 13px;
}
.deduction{
    display: flex;
    gap: 50px;
}
.deduction-summary{
    margin-top: 20px;
    display: grid;
    gap:20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.deduction-summary div{
    display: flex;
    justify-content: space-between;
}
.deduction-summary h4{
     color: rgb(145 140 140);
    font-size: 16px;
    font-weight: bold;
}
.deduction-summary p{
    color: rgb(145 140 140);
    font-size: 13px;
}
.deduction-summary .tds{
    display: flex;
    gap: 40px;
}
.deduction-summary .tds div{
    display: grid;
    gap: 10px;
}
.deduction-summary .tds div h4{
    font-size: 15px;
    color: rgb(145 140 140);
}
.deduction-summary .tds div p{
    font-size: 16px;
    color:#2c3e50;
    font-weight: bold;
}
.deduction-summary .tds div a{
     font-size: 13px;
    text-decoration: none;
    color:rgb(80, 124, 206);

}
.employee-summary{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    gap:10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.employee-summary div{
    display: grid;
    align-items: center;
}
.employee-summary div h4{
    text-align: center;
    color: rgb(145 140 140);
    font-size: 15px;
    font-weight: 600;
}
.employee-summary div p{
    margin-top: 5px;
    text-align: center;
    color: #2c3e50;
    font-size: 20px;
    font-weight: 600;
}
.employee-summary div a{
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color:rgb(80, 124, 206);
}
.todotask h3{
     color:#2c3e50;
    font-size: 18px;
    font-weight: bold;
}
.todotask .pending{
        display: grid;
    gap: 20px;
    margin-top: 20px;
}
.todotask .pending div{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 5px;
}
.todotask .pending div h4{
    color: #2c3e50;
    font-size: 14px;
}
.todotask .pending div p{
    color: rgb(145 140 140);
    font-size: 12px;
}
.pending div a{
    font-size: 14px;
    text-decoration: none;
    color:rgb(80, 124, 206);

}
.attendance h3{
    margin-top: 30px;
     color:#2c3e50;
    font-size: 18px;
    font-weight: bold;
}
.attendance-summary{
    margin-top: 20px;
    display: flex;
    gap:50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 72%;
}
.attendance-summary div{
    display: grid;
    gap:10px;
}
.attendance-summary div h4{
    color: rgb(145 140 140);
    font-size: 16px;
}
.attendance-summary div p{
    color:#2c3e50;
    font-size: 16px;
    font-weight: bold;
}
.attendance-summary div a{
    padding: 8px 16px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    text-decoration: none; 
}
.upcomingevents{
    margin-top: 30px;
}
.upcomingevents h3{
    color: #2c3e50;
    font-size: 18px;
}
.festival{
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 72%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.festival .festivallist{
    display: flex;
    gap: 20px;
}
.festivallist div{
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
.festivallist div h5{
     color: rgb(145 140 140);
    font-size: 16px;
}
.festivallist div p{
     color:#2c3e50;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}
