section {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px; 
}
h3{
     color: #2c3e50;
     font-size: 20px;
}
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.attendance-table th, 
.attendance-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
.attendance-table th {
    background: #1a2633;
    color: white;
}
.badge {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
}

.badge.green { background: green; }
.badge.red { background: #e74c3c; }
.badge.gray { background:grey; }

.btn {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin: 2px;
    font-size: 14px;
    background-color: grey;
}

.btn.green { background: green; }
.btn.red { background: #e74c3c; }
.btn:hover { opacity: 0.8; }

.attendance-filter{
    margin-top: 10px;
}
.attendance-filter{
    display: flex;
    gap: 20px;
}
.attendance-filter input, select{
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}
 .attendance-filter button{
    padding: 8px 16px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

