section{
    padding: 10px;
    margin-top: 30px;
}

section h3{
    color: #2c3e50;
    font-size: 24px;
}
.last{
    margin-top: 30px;
     color: #2c3e50;
     font-size: 17px;
}
.overview{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.overview div{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: grid;
    gap: 10px;
}
.overview div p{
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
}
.overview div h4{
    color: rgb(128 130 135);
    font-size: 16px;
    font-weight: 600;
}
.salary-summary{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}
.salarydetails{
    margin-top: 10px;
    display: flex;
    gap: 40px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}
hr{
    border-right: 1px solid #ddd;
}
.salarydetails div{
    display: grid;
    align-items: center;
}
.salarydetails div h4{
    color: rgb(128 130 135);
    font-size: 16px;
    font-weight: 600;
}
.salarydetails div p{
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}
.latest{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.latest a{
    background: #1a2633;
    color: #fff;
    padding:5px 10px;
  text-decoration: none;
    border-radius: 10px;
    width: 111px;
}
.latest h4 {
    color: rgb(140 139 139);
}
.attendance h4{
    margin-top: 30px;
    color: #2c3e50;
    font-size: 16px;
}
.attendance-summary{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}
.attendancedetails{
     display: flex;
     margin-top: 10px;
    gap: 40px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.attendancedetails div{
    display: grid;
    align-items: center;
    gap: 10px;
}
.attendancedetails div h4{
    color: rgb(128 130 135);
    font-size: 16px;
    font-weight: 600;
}
.attendancedetails div p{
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}
.attreports a {
    padding: 5px 10px;
    border-radius: 10px;
    background: #1a2633;
    color: #fff;
    text-decoration: none;  
}
.attendance-status{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}
.attendance-status h4 {
    color: rgb(140 139 139);
}
.status{
    padding: 8px 16px;
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 85px;
}

.attendance-trend{
    margin-top: 30px;
}
.attendance-trend h4{
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}
table th, 
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
table th {
    background: #1a2633;
    color: white;
}


.notification{
     background: #ffffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.notification h4{
    color: #2c3e50;
    font-size: 18px;
}
.festival .festivelist{
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    gap: 20px;
    margin-top: 20px;
    width: 400px;
}

.festival{
    display: flex;
    gap: 20px;
   
}
.next-salary{
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
}
.next-salary h5{
    color: rgb(140 139 139);
    font-size: 16px;

}
.next-salary p{
    margin-top: 10px;
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
}
.festivelist div{
    display: grid;
    gap: 10px;
}
.festivelist div h5{
    color: rgb(140 139 139);
    font-size: 16px;
}
.festivelist div p{
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
}
.notice{
    margin-top: 30px;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
}

