
main {
    padding: 20px;
    width: auto;
}
section {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 50px;
}

section h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #2c3e50;
}

section .add{
    display: inline-block;
    padding: 8px 14px;
    background: #085baf;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
    transition: 0.3s;
}

section .add :hover {
    background: #07498d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

table th {
    background: #1a2633;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

table td {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
}
.status-badge {
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
   
    display: inline-block;
}

.status-badge.active {
    background: #28a745;  
    color: white;
}

.inactive {
    background: #dc3545; 
    color: white; 
}
table tr:nth-child(even) {
    background: #f7f7f7;
}

table td a {
    background-color: green;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 14px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
    transition: 0.3s;
}

table td a:hover {
    background-color: rgb(48, 156, 48);
  
}
table td a:last-child {
    background-color: #c92c1b;
    padding: 8px 14px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-right: 10px;
    transition: 0.3s;
}
.backdashboard{
    float: right;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
}
.filter{
    margin-top: 10px;
}
.filter{
    display: flex;
    gap: 20px;
}
.filter input, select{
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}
 .filter button{
    padding: 8px 16px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}



