.pagination{
    margin-top: 20px;
}
.pagination ul{
    display: flex;
    justify-content: end;
}
.pagination ul li{
    list-style: none;
    
    
}
.pagination ul li:hover{
    background-color:rgb(236, 236, 236);
    color: white;

}
.pagination nav ul li a{
    text-decoration: none;
    color:#2c3e50;
    display: block;
    border: 1px solid #ddd;
    padding: 10px 16px;
    cursor: pointer;
}
.pagination ul li.active{
    background-color: rgb(38, 129, 189);
    color: white !important;
}
.pagination ul li a.active{
    color: white;
}