section{
    padding: 20px;
     background: #ffffff;
    border-radius: 10px;
     box-shadow: 0 2px 6px rgba(0,0,0,0.1);
     margin-top: 20px;
}
h3{
    margin-bottom: 15px;
    font-size: 22px;
    color: #2c3e50;
}
h4{
    font-size: 18px;
      color: #2c3e50;
      margin-top: 18px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
form{
    margin-bottom: 10px;
}
form input{
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
form input[type="submit"]{
    background: #085baf;
    color: white;
}
form input[type="submit"]:hover{
    background-color: #1d6cbb;
    cursor: pointer;

}

table th, 
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
table th {
    background: #1a2633;
    color: white;
}