section{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 50px;
}
form input{
    padding:5px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
button{
    padding:8px 16px;
    border-radius: 10px;
    border: none;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}
h3{
     color: #2c3e50;
     font-size: 20px;
}
.allpayslip{
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, 
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
table th {
    background: #1a2633;
    color: white;
}
.slip{
    padding:5px 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}