section{
    padding: 20px;
    border-radius: 10px;
     margin-top: 30px;
}
h3{
    margin-bottom: 15px;
    font-size: 22px;
    color: #2c3e50;
}

.profile-details {
    background: #ffffff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-top: 10px;
}
.profile-details div{
    width: 300px;
}
.profile-details div h4{
     color: #2c3e50;
     font-size: 16px;
}
.profile-details div p{
     font-size: 16px;
     margin-top: 5px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit{
    padding: 8px 16px;
    background-color: green;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.account-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}
.contact-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}
h6{
padding: 5px 10px;
font-size: 12px;
    border-radius: 10px;
    width: 60px;
}
.active{
    background: green;
    color: white;
}
.inactive{
    background-color: red;
    color: white;
}

