section{
    padding: 20px;
     background: #ffffff;
    border-radius: 10px;
     box-shadow: 0 2px 6px rgba(0,0,0,0.1);
     margin-top: 50px;
 
}
h3{
     color: #2c3e50;
     font-size: 24px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}
table th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
table th {
    background: #1a2633;
    color: white;
}
input[type="submit"]{
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
}
.salary{
     background-color: rgb(20, 121, 184);
    color:white;
    padding:10px 20px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
.salary:hover{
     background-color:rgb(7, 80, 7)

}
table a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
}
form{
    margin-top: 10px;
}
 form input{
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}
 form button{
    padding: 6px 20px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}