 section{
    display: flex;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
   
}
h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
   color: #2c3e50;
}
hr{
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
form {
    width: 500px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}
form label {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
form input,
form select {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

form button {
    background: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    width: 200px;
    float: right;
}
form button:hover {
    background: #357ABD;
}
.back  {
     background: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    font-size: 15px;
    text-decoration: none;
    margin-right: 5px;
}
.back :hover {
    color: #000;
}
.salary{
    display: flex;
    gap: 10px;
    float: right;
}