section {
            display: grid;
            margin: 100px auto;
            max-width: 400px;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
        }

        h3 {
            font-size: 22px;
            margin-bottom: 20px;
            color: #2c3e50;
        }


        form input {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            margin-top: 10px;
        }

        button {
            background-color: #2c3e50;
            color: white;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            float: right;
            cursor: pointer;
        }
        form a{
            text-decoration: none;
            background-color: #2c3e50;
            color:white;
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            float: left;
              
        }